<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Ingreso de Formulario</title>
</head>
<body>
	<form th:action="@{/form}" th:object="${usuario}" method="post">



		<div>
			<label for="pais">Pais</label>

			<div>
				<select id="pais" th:field="*{pais}">
					<option value="">-Seleccionar--</option>
					<!--/*@thymesVar id="value" type=""*/-->
					<!--/*@thymesVar id="id" type=""*/-->
					<option th:each="pais:${listaPaises}" th:text="${pais.nombrePais}" th:value="${pais.id}"></option>
				</select>
			</div>
			<div th:if="${#fields.hasErrors('pais')}"
				 th:errors="*{pais}"></div>
		</div>

		<div>
			<label for="identificador">Identificador</label>

			<div>
				<input type="text" id="identificador" th:field="*{identificador}">
			</div>
			<div th:if="${#fields.hasErrors('identificador')}"
				th:errors="*{identificador}"></div>
			<!---    <div th:if="${error!=null&&error.containsKey('userName')}"th:text="${error.get('userName')}"></div>-->

		</div>



		<div>
			<label for="nombre">Nombre</label>

			<div>
				<input type="text" id="nombre" th:field="*{nombre}">
			</div>
			<div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
			<!---    <div th:if="${error!=null&&error.containsKey('userName')}"th:text="${error.get('userName')}"></div>-->

		</div>


		<div>
			<label for="apellido">Apellido</label>

			<div>
				<input type="text" id="apellido" th:field="*{apellido}">
			</div>
			<div th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></div>
			<!---    <div th:if="${error!=null&&error.containsKey('userName')}"th:text="${error.get('userName')}"></div>-->

		</div>


		<div>
			<label for="userName">UserName</label>

			<div>
				<input type="text" id="userName" th:field="*{userName}">
			</div>
			<div th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></div>
			<!---    <div th:if="${error!=null&&error.containsKey('userName')}"th:text="${error.get('userName')}"></div>-->

		</div>

		<div>
			<label for="password">Password</label>

			<div>
				<input type="password" th:field="*{password}" id="password">
			</div>
			<!--   <div th:if="${error!=null&&error.containsKey('password')}"th:text="${error.get('password')}"></div>-->
			<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

		</div>


		<div>
			<label for="email">Email</label>

			<div>
				<input type="text" th:field="*{email}" id="email">
			</div>
		</div>
		<!--  <div th:if="${error!=null&&error.containsKey('email')}"th:text="${error.get('email')}"></div>-->
		<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

	


			<div>
				<label for="cuenta">Cuenta</label>

				<div>
					<input type="number" th:field="*{cuenta}" id="cuenta">
				</div>
			</div>
			<div th:if="${#fields.hasErrors('cuenta')}" th:errors="*{cuenta}"></div>
			
			
			<div>
			<label for="">Fecha</label>

			<div>
				<input type="date" id="dateFormat" th:field="*{dateFormat}" placeholder="yyy-MM-dd">
			</div>
			<div th:if="${#fields.hasErrors('dateFormat')}" th:errors="*{dateFormat}"></div>
		

		</div>
			
			
			
			
			

			<div>
             <div>
					<input type="submit" value="Enviar">
				</div>
			</div>
	</form>


</body>
</html>