<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Ingreso de Formulario</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
	<form th:action="@{/form}" th:object="${usuario}" method="post">

		<div class="form-group row">
			<label for="habilitar" class="col-form-label col-sm-2">Habilitar</label>

			<div class="row col-sm-4">
				<input type="checkbox" id="habilitar" th:field="*{habilitar}"
					   class="form-control col-sm-1">
			</div>
		</div>


		<div class="form-group row">
			<label class="col-form-label col-sm-2">Género</label>

			<div th:each="gen:${genero}">
				<input type="radio"  th:field="*{genero} " th:value="${gen}">
				<label th:for="${#ids.prev('genero')}" th:text="${gen}" class="col-form-label col-sm-2"></label>
			</div>
			<div th:if="${#fields.hasErrors('genero')}"
				 th:errors="*{genero}" class="alert alert-danger"></div>
		</div>



		<div class="form-group row">
			<label for="pais" class="col-form-label col-sm-2">Pais</label>

			<div>
				<select id="pais" th:field="*{pais}">
					<option value="">-Seleccionar--</option>
					<!--/*@thymesVar id="value" type=""*/-->
					<!--/*@thymesVar id="id" type=""*/-->
					<option th:each="pais:${listaPaises}" th:text="${pais.nombrePais}" th:value="${pais.id}"></option>
				</select>
			</div>
			<div th:if="${#fields.hasErrors('pais')}"
				 th:errors="*{pais}" class="alert alert-danger"></div>
		</div>
		<div class="form-group row">
			<label class="col-form-label col-sm-2">roles</label>
			<div th:each="role:${listadoRoles}" class="row col-sm-2">
				<input type="checkbox"  th:field="*{roles}" th:value="${role.id}"
				th:checked="${#lists.contains(usuario.roles,role)}"
					   class="form-control col-sm-2">

				<label th:for="${#ids.prev('roles')}" th:text="${role.nombre}" class="col-form-label col-sm-2"></label>
			</div>
			<div th:if="${#fields.hasErrors('roles')}"
				 th:errors="*{roles}" class="alert alert-danger"></div>


		</div>


		<div class="form-group row">
			<label for="identificador" class="col-form-label col-sm-2">Identificador</label>

			<div>
				<input type="text" id="identificador" th:field="*{identificador}">
			</div>
			<div th:if="${#fields.hasErrors('identificador')}"
				th:errors="*{identificador}" class="alert alert-danger"></div>
			<!---    <div th:if="${error!=null&&error.containsKey('userName')}"th:text="${error.get('userName')}"></div>-->

		</div>



		<div class="form-group row">
			<label for="nombre" class="col-form-label col-sm-2">Nombre</label>
			<div class="col-sm-4">
				<input type="text" id="nombre" th:field="*{nombre}"
					   class="form-control">
			</div>
			<div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="alert alert-danger"></div>
			<!---    <div th:if="${error!=null&&error.containsKey('userName')}"th:text="${error.get('userName')}"></div>-->

		</div>


		<div class="form-group row">
			<label for="apellido" class="col-form-label col-sm-2">Apellido</label>

			<div>
				<input type="text" id="apellido" th:field="*{apellido}"
					   class="form-control">
			</div>
			<div th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"
				 class="alert alert-danger"></div>
			<!---    <div th:if="${error!=null&&error.containsKey('userName')}"th:text="${error.get('userName')}"></div>-->

		</div>


		<div class="form-group row">
			<label for="userName" class="col-form-label col-sm-2">UserName</label>

			<div>
				<input type="text" id="userName" th:field="*{userName}">
			</div>
			<div th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="alert alert-danger"></div>
			<!---    <div th:if="${error!=null&&error.containsKey('userName')}"th:text="${error.get('userName')}"></div>-->

		</div>

		<div class="form-group row">
			<label for="password" class="col-form-label col-sm-2">Password</label>

			<div>
				<input type="password" th:field="*{password}" id="password">
			</div>
			<!--   <div th:if="${error!=null&&error.containsKey('password')}"th:text="${error.get('password')}"></div>-->
			<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

		</div>


		<div class="form-group row">
			<label for="email" class="col-form-label col-sm-2">Email</label>

			<div>
				<input type="text" th:field="*{email}" id="email">
			</div>
		</div>
		<!--  <div th:if="${error!=null&&error.containsKey('email')}"th:text="${error.get('email')}"></div>-->
		<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

	


			<div class="form-group row">
				<label for="cuenta" class="col-form-label col-sm-2">Cuenta</label>

				<div>
					<input type="number" th:field="*{cuenta}" id="cuenta">
				</div>
			</div>
			<div th:if="${#fields.hasErrors('cuenta')}" th:errors="*{cuenta}" class="alert alert-danger"></div>
			
			
			<div>
			<label for="dateFormat" class="col-form-label col-sm-2">Fecha</label>

			<div>
				<input type="date" id="dateFormat" th:field="*{dateFormat}" placeholder="yyy-MM-dd">
			</div>
			<div th:if="${#fields.hasErrors('dateFormat')}" th:errors="*{dateFormat}" class="alert alert-danger"></div>
		

		</div>
			
			
			
			
			

			<div class="form-group row">
             <div>
					<input type="submit" value="Enviar" class="btn btn-primary">
				</div>
			</div>

			<input th:type="hidden" th:field="*{datoOculto}">

	</form>


</body>
</html>